# Clasificación flor iris

Importamos la libreria pandas

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('iris_data.csv')

In [4]:
df.head()

   Lsep  Asep  Lpet  Apet          Esp
0   5.1   3.5   1.4   0.2  Iris-setosa
1   4.9   3.0   1.4   0.2  Iris-setosa
2   4.7   3.2   1.3   0.2  Iris-setosa
3   4.6   3.1   1.5   0.2  Iris-setosa
4   5.0   3.6   1.4   0.2  Iris-setosa

Importamos train_test_split

In [5]:
from sklearn.model_selection import train_test_split

In [7]:
X=df[['Lsep','Asep','Lpet','Apet']]

In [8]:
y=df['Esp']

In [23]:
x_train,x_test,y_train,y_test=train_test_split(X,y,random_state=1)

In [12]:
x_train.shape

(112, 4)

In [13]:
x_test.shape

(38, 4)

In [14]:
from sklearn import tree

In [24]:
clf=tree.DecisionTreeClassifier()
clf=clf.fit(x_train,y_train)

In [25]:
y_pred=clf.predict(x_test)

In [21]:
from sklearn.metrics import accuracy_score

In [26]:
'Puntuación de la predicción:',accuracy_score(y_test,y_pred)

('Puntuación de la predicción:', 0.9736842105263158)